*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/
/index.php
wp-includes/
wp-admin/
/readme.html
/license.txt
/readme.txt
wp-activate.php
wp-blog-header.php
wp-config-dev.php
wp-config-local.php
wp-config-sample.php
wp-config/themes/kidney/config.codekit
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
wp-comments-post.php
.htaccess-live
favicon.ico
favicon.png
kidney-db.php
kidney-db2.sql
wp-cron.php
wp-content/themes/kidney-mine
